<h1> Rock-Paper-Scissors </h1>
<h2> A Game of Logic & Skill </h2>
<p>Here's the rules, kiddo!</p>
<p><b>ROCK </b>beats <b>SCISSORS</b></p>
<p><b>SCISSORS </b>beat <b>PAPER</b></p>
<p><b>PAPER </b>beats <b>ROCK</b></p>
<p>Got it?</p>
<p>Then play... if you dare!</p>
